.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/app/*
bootstrap/cache/*
tests
.DS_Store
*.md
docs/
scripts/
docker-compose.yml
.vscode
.idea
.editorconfig
.prettierrc
.eslintrc
.eslintignore
